In [25]:
import pandas

In [26]:
data = pandas.read_csv("ukol_8_zvirata.csv", sep=";")
data.head()

,id,nazev_cz,nazev_en,trida_cz,cena,k_prohlidce
0,7,Šváb syčivý,Madagascar giant cockroach,Bezobratlí,1000,1
1,8,Pakobylka okřídlená,Pink-winged stick insect,Bezobratlí,1000,1
2,16,Tayra,Tayra,Savci,5000,1
3,35,Kajmanka supí,Alligator snapping turtle,Plazi,2000,1
4,37,Želva žlutočelá,Indochinese box turtle,Plazi,1000,1

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513 entries, 0 to 512
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           513 non-null    int64
 1   nazev_cz     513 non-null    object
 2   nazev_en     513 non-null    object
 3   trida_cz     513 non-null    object
 4   cena         513 non-null    int64
 5   k_prohlidce  513 non-null    int64
dtypes: int64(3), object(3)
memory usage: 24.2+ KB

In [28]:
data.iloc[34, [1, 2]]

nazev_cz     Ibis bílý
nazev_en    White ibis
Name: 34, dtype: object